.box-h {
    margin: 100px auto;
  }
  
  .grid {
    margin: auto;
    max-width: 99vw;
  }
  .boxes {
    color: #fff;
    height: 300px;
    overflow: hidden;
  }
  .office-automation {
    background-color: #11111184;
  }
  .Data-Centre-Solutions {
    background-color: #11111184;
  }
  .boxes img {
    width: 100%;
    color: #fff;
  }
  
  @media screen and (max-width: 1045px) {
  }
  
  @media screen and (max-width: 700px) {
    .boxes {
      color: #fff;
      height: 200px;
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 420px) {
    .boxes {
      color: #fff;
      height: 150px;
      overflow: hidden;
    }
  }
  
  @media screen and (max-width: 330px) {
    .boxes {
      color: #fff;
      height: 100px;
      overflow: hidden;
    }
  }
    