#navbar #active,
#navbar li {
  cursor: pointer;
}

.link {
  color: rgb(0, 38, 92);
  text-decoration: none;
}


.active::after {
  position: absolute;
  content: "";
  width: 7%;
  height: 2px;
  background-color: #11976f;
  bottom: 0;
  transform: translateX(-90%);
  /* left: 415px; */
}

#navbar .link:not(.active):hover:after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}